:root{
    --colorTextTitular: rgb(240, 240, 240);
    --colorCards:  #fafafa;
    --colorAcento:  #E74D0B;
    --colorAcentoHover:  #ffc8b0;
    --colorFondo: #3c484a;
    --colorFondoEngadirTareas: #777B80;
    --colorFondoCarril: #B1BCC1;
    --colorChevron:#777B80;
    --textTitular: rgb(240, 240, 240);
    --textCabeceras: 18px;
    --colorTextCabeceras: #3C484A;
    --textProyecto: 18px;
    --textDate: 12px;
    --colortextProyecto: rgb(110, 110, 110);    
    --textDescrip: 10px;
  }
  
  * {
    font-family: "Lato", sans-serif;
    /* border: solid 1px black; */
  }
  
  .hidden {
    display: none !important;
  }

  body{   
    background-color: var(--colorFondo);
    margin-left: 5%;
    margin-right: 5%;
    
  }

  h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;      
  }

  h1{
    color: var(--textTitular);
  }

  h2{
    font-size: var(--textCabeceras);
    color: var(--colorTextCabeceras);
  }

header,
main,
#add-task-container
 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:56px;  
}

#add-task-container{
    display: flex;
    gap:12px;
    background-color: var(--colorFondoEngadirTareas); 
    width: 28%;  
    padding: 16px;
    border-radius: 8px;   
}

#lists-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.cabecera{
  background-color: var(--colorCards);
  margin-bottom: 4%;
  width: 100%;
  box-shadow: 0px 2px 4px 0px #29272730;
  border-radius: 4px;
}

#add-task-input{
    border-radius: 4px;
    text-align: center;    
  }

#add-project-input,
#add-title-input,
#add-description-input{
  width: 98%;
  align-self: center;
  border-radius: 4px;
  border: none;
  height: 24px;
}

#add-description-input{
    height: 40px;
}

#add-task-btn{
  margin-top: 8px;
  width: 40%;
  align-self: center;
  background-color: var(--colorAcento);
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  height: 32px;  
  cursor: pointer;
  margin-left: 1%;
  color: antiquewhite;
  font-weight: bold;
  font-family: "Lato", sans-serif;  
}
#add-task-btn:hover{
  background-color: var(--colorAcentoHover);
  color:var(--colorAcento) ;
}

#to-do-container,
#in-progress-container,
#done-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 50%;  
  background-color: var(--colorFondoCarril);  
}

.date{
  font-size: var(--textDate);
  color: var(--colorChevron);
}

.task{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 90%;
    margin-bottom: 2%;
    cursor: pointer;
    background-color: var(--colorCards);
    box-shadow: 6px 6px 4px 0px #41414120;
    overflow: hidden;
    word-wrap: break-word;
    /*Primer parametro desplazamiento en el eje x
    Segundo parametro desplazamiento en el eje y
    Tercer parámetro dureza de del borde
    Cuarto parámetro crecimiento de la sombra
    Color exadecimal, las dos ultimas cifras corresponden a la luminosidad
    esta va de transparente 00 a ff totalmente opaco*/    
    border-radius: 4px;
    border-left: 4px solid var(--colorAcento);
}

.head-card{
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.date{
  margin-top: 4%;
  margin-left: 6%;
}

.trash {
  margin-top: 3%;
  margin-right: 1%;
  align-self: self-end; 
  color: var(--colorAcento);
  cursor: pointer;
}

.proyect,
.title,
.task-description{
   
   margin-left: 6%;
   color: var(--textCabeceras);
}

.proyect{
  width: 90%;
  margin-top: 1%;
  color: var(--colorAcento);  
  font-weight: lighter;
  border-bottom: 10px var(--colorChevron);
}

.title{
  margin-top: 6%;
  font-weight: bold;
 
}

.task-description{
  
  margin-right: 10%;
  
}

.paragraph-decription{
  margin-top: 4%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

}



.arrows{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 8px;
  margin-bottom: 4%;
  margin-left: 2%;
}


.chevron_right{

  color: var(--colorChevron);
  cursor: pointer;
  
}
.chevron_left{
  
  color: var(--colorChevron);
  cursor: pointer;
}